parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - src
        - tests
    ignoreErrors:
        -
            path: src/Handler/AllOfHandler.php
            message: '/Orx\|string\|null, .*Comparison.* given/'
        -
            path: src/Handler/AnyOfHandler.php
            message: '/Orx\|string\|null, .*Comparison.* given/'
        -
            path: src/QueryBuilder/QueryBuilder.php
            message: '/between string and false will always evaluate to false/'
